:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

[data-mantine-color-scheme='light'] {
  color-scheme: light;
}

[data-mantine-color-scheme='dark'] {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  min-height: 100vh;
}
